* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__header {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.app__header__middle__items {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.app__header__middle__items li {
  margin-right: 20px;
}
.app__header__middle__items__link {
  color: white;
  font-size: 18px;
}
.header__logo {
  font-size: 32px;
  margin: 0;
}
.app__header__right__item {
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  color: white;
  transition: 0.3s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.app__header__right__item:hover {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.app__header__right__item--login {
  margin-right: 10px;
}
