.app__hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app__hero__content h2 {
  color: white;
  font-size: 38px;
}
.app__hero__content p {
  color: lightgrey;
  font-size: 20px;
}
.app__hero__btns button {
  padding: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  color: white;
  transition: 0.3s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.app__hero__btns button:hover {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.app__hero__btns--get-started {
  margin-right: 20px;
}
.app__hero__btns {
  margin-top: 50px;
}
